/* remove all margins and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #c5c3c6;
    --second-color: #1985a1;
    --third-color: #4c5c68;
}

/* style for body */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/* style for header */
header {
    background-color: var(--first-color);
    display: inline-block;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* style for header h1 */
header h1 {
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 14px;
    font-size: 36px;
    display: inline-block;

}

/* style for nav */
header nav {
    padding: 18px;
    font-size: 28px;
    font-weight: bold;
}

/* style for links in nav */
header nav a {
    color: var(--second-color);
    text-decoration: none;
}

header nav a:hover {
    color: var(--third-color);
    text-decoration: underline;
}

/* style for nav ul */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }  

/* style for nav list items */
header nav ul li {
    margin-left: 18px;
    margin-right: 18px;
}

.hero {
    background-image: url("../images/hero.jpg");
    height: 300px;
    background-size: cover;
    background-position: 50%;
}

.about {
    background-color: var(--first-color);
    color: var(--third-color);
    display: flex;
    padding: 40px 0;
}

.about h2 {
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 14px;
    font-size: 32px;
    width: 200px;
}

.about div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.about div:last-child {
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about h3 {
    padding: 10px;
}


/* media query for smaller screens */
@media screen and (max-width: 980px) {
    .about {
        flex-wrap: wrap;
    }
    header nav ul {
        justify-content: center;
    }
    .faceless-subway {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .faceless-subway {
        width: 160px;
        height: 160px;
    }
}
